<div class="container">
    {% for document in drop.documents %}
        {% include 'ICAPDropZoneBundle:DropZone:showDocument.html.twig' with {'document': document} %}
    {% endfor %}
</div>

<div class="control-inline">
    {% if dropZone.allowUrl %}
        <a class="btn btn-primary launch-inline" href="{{ path('icap_dropzone_document', {'resourceId': dropZone.id, 'documentType': 'url', 'dropId': drop.id}) }}">Add a url document</a>
    {% endif %}
    {% if dropZone.allowUpload %}
        <a class="btn btn-primary launch-inline" href="{{ path('icap_dropzone_document', {'resourceId': dropZone.id, 'documentType': 'file', 'dropId': drop.id}) }}">Add a file document</a>
    {% endif %}
    {% if dropZone.allowWorkspaceResource %}
        <a class="btn btn-primary launch-inline" href="{{ path('icap_dropzone_document', {'resourceId': dropZone.id, 'documentType': 'resource', 'dropId': drop.id}) }}">Add a workspace's resource document</a>
    {% endif %}
</div>

<div class="container-inline"></div>

<br/>
<div class="row">
    <form class="form-horizontal" method="POST" action="{{ path('icap_dropzone_drop', {'resourceId': dropZone.id}) }}">
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10 btn-group form-buttons">
                <button type="submit" class="btn btn-primary">
                    {{ 'Save and finished'|trans }}
                </button>
            </div>
        </div>

        {{ form_errors(form) }}
    {{ form_end(form) }}
</div>

<script src="{{ asset('bundles/icapdropzone/js/inline.js') }}"></script>
<script src="{{ asset('bundles/icapdropzone/js/popup.js') }}"></script>
