{% extends "ICAPDropZoneBundle::layout.html.twig" %}
{% block dropzone_breadcrumb %}
    <li class="active"><span class="glyphicon icon-file"></span> {{ dropZone.resourceNode.name }}</li>
{% endblock %}

{% block dropzone_content %}
    <div class="container container-dropzone">
        <header>
            <a href="{{ path('icap_dropzone_edit', {'resourceId': dropZone.id}) }}">Edit</a>
        </header>
        <h2>Open drop zone</h2>

            {% if dropZone.isNotStarted %}
                <p class="text-danger">
                    {{ 'notStarted'|trans }} {% if not dropZone.manualPlanning %} - Start {{ dropZone.startAllowDrop|date('formatDatetime'|trans) }} {% endif %}
                </p>
            {% endif %}
            {% if dropZone.isAllowDrop %}
                <p class="text-danger">
                    {{ 'allowDrop'|trans }} {% if not dropZone.manualPlanning %} - From {{ dropZone.startAllowDrop|date('formatDatetime'|trans) }} to {{ dropZone.endAllowDrop|date('formatDatetime'|trans) }} {% endif %}
                </p>
            {% endif %}
            {% if dropZone.isPeerReview %}
                <p class="text-danger">
                    {{ 'peerReview'|trans }} {% if not dropZone.manualPlanning %} - From {{ dropZone.startReview|date('formatDatetime'|trans) }} to {{ dropZone.endReview|date('formatDatetime'|trans) }} {% endif %}
                </p>
            {% endif %}
            {% if dropZone.isFinished %}
                <p class="text-danger">
                    {{ 'finished'|trans }}
                </p>
            {% endif %}

        {% if dropZone.instruction is not null %}
            <p class="text-muted">
                Instruction :
            </p>
            <p>
                {{ dropZone.instruction }}
            </p>
        {% endif %}


        {% if drop is not null %}
            <p class="text-success">
                Vous avez rendu {{ drop.documents|length }} documents pour cette évaluation.
            </p>
        {% endif %}

        {% if dropZone.isAllowDrop %}
            {% if drop is null %}
                <div>
                    <a href="{{ path('icap_dropzone_drop', {'resourceId': dropZone.id}) }}" class="btn btn-primary pull-right">Deposit documents</a>
                </div>

                <p class="text-muted">
                    No deposit for your account
                </p>
            {% endif %}
        {% endif %}


        {% if dropZone.isAllowDrop %}
            {% if drop is not null %}
                <div>
                    <a href="#" class="btn btn-primary pull-right">Corriger une copie</a>
                </div>

                <p class="text-danger">
                    Il vous reste 3 copies a corriger pour terminer cette évaluation.
                </p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}}
{% endblock %}